:root {
  --slate: #434455;
  --white: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f4240;
  --grey: #2e2f4270;
  --dairy: #fcfcfc;
}
html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
}

/* Header */
.index-portfolio-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.index-portfolio-div {
  display: flex;
  justify-content: space-between;
}
.logo,
.address-header {
  display: flex;
  align-items: center;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
  padding: 24px 0;
}
.studio-logo {
  color: var(--navy-blue);
}
.web-list {
  display: flex;
  gap: 40px;
}
.web-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  padding: 24px 0;
}
.web-menu:hover,
.web-menu:focus {
  color: var(--ocean);
}
.address-header {
  font-style: normal;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0;
}
.address:hover,
.address:focus {
  color: var(--ocean);
}

/* first section */
.first-section {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/mobile-1x.jpg);
  padding: 112px 0;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (min-resolution: 1920dpi),
  (min-resolution: 10dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) and (min-device-pixel-ratio: 2),
  (min-resolution: 1920dpi),
  (min-resolution: 10dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/topdesk-1x.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-resolution: 1920dpi),
  (min-resolution: 10dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/topdesk-2x.jpg);
  }
}


@media screen and (min-width: 1158px) {
  .first-section {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 48px;
  }
}

.section-one-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.section-one-button {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* second section */
.second-section {
  padding: 120px 0;
}
.section-two-ul {
  display: flex;
  gap: 24px;
}
.section-two-list {
  flex-basis: calc((100% - 72px) / 4);
}

.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.section-two-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  width: 264px;
}

/* third section */
.third-section {
  padding-bottom: 120px;
}
.section-three-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.section-three-ul {
  display: flex;
  gap: 24px;
}
.section-three-list {
  flex-basis: calc((100% - 3 * 16px) / 3);
  gap: 24px;
}

/* fourth section */
.fourth-section {
  background-color: var(--cloud);
  padding: 120px 0;
}
.section-four-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.section-four-ul {
  display: flex;
  gap: 24px;
}
.section-four-list {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-div {
  padding: 32px 0;
}
.section-four-employee {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  text-align: center;
}
.section-four-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  width: 264px;
  text-align: center;
}
.footer-part {
  background-color: var(--navy-blue);
  padding: 100px 0;
}
.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
  padding: 0 0;
}
.footer-paragraph {
  max-width: 264px;
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-footer {
  color: var(--cloud);
}
.second-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.fourth-socialmedia-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.fourth-socialmedia-list {
  width: 40px;
  height: 40px;
}
.fourth-socialmedia-a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-socialmedia-a:hover,
.fourth-socialmedia-a:focus {
  background-color: var(--ocean);
}
.socialmedia-svg {
  fill: var(--cloud);
}

/* fifth section */
.fifth-section {
  padding: 120px 0;
}

.section-five-customers {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  margin-bottom: 72px;
  text-align: center;
}
.section-five-customers-ul {
  display: flex;
  gap: 24px;
}
.section-five-customers-list {
  list-style: none;
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.section-five-customers-a {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
}
.section-five-customers-a:hover,
.section-five-customers-a:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.section-five-svg {
  fill: currentColor;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-wrap {
  margin-right: 120px;
}
.footer-two {
  margin-right: 120px;
}
.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-social-media-ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
.footer-social-media-list {
  width: 40px;
  height: 40px;
}
.footer-social-media-a {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-media-a:hover,
.footer-social-media-a:focus {
  background-color: var(--green);
}
.footer-svg {
  fill: var(--cloud);
}
/* hw 5 styles (lms)*/
.web-active {
  color: var(--ocean);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.web-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
}

.address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-socialmedia-a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-customers-a {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* hw5 portfolio */
.portfolio-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .paragraph-portfolio-image,
.portfolio-link:focus .paragraph-portfolio-image {
  transform: translateY(0%);
}
.portfolio-card {
  position: relative;
  overflow: hidden;
}
.paragraph-portfolio-image {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer form */
.footer-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.footer-form {
  display: flex;
  gap: 24px;
}
.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.footer-form::placeholder {
  color: var(--white);
}
.submit-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}
.subscribe-svg {
  margin-left: 16px;
}

.modal-window {
  padding: 72px 24px 24px 24px;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
.modal-form {
  margin-bottom: 8px;
}
.modal-label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
}
.modal-name-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name-input:focus {
  border-color: var(--iris);
}
.modal-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-name-input:focus-within + .modal-name-svg {
  fill: var(--iris);
}

.modal-comment {
  margin-bottom: 16px;
}
.modal-text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area:focus {
  border-color: var(--iris);
}
.modal-checkbox {
  margin-bottom: 24px;
}
.checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.check-box:checked + .checkbox-label .label-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy {
  color: var(--iris);
}
.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.mobile-header-container, .mobile-menu{
  display: none;
}
.menu-toggle{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  color: var(--navyblue, #2e2f42);
}
/* mobile view */
@media only screen and (max-width: 767px){
  .container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .web-list, .address-menu{
    display: none;
  }
  .index-portfolio-div{
    padding: 0;
    margin: 25px 0 23px 16px;
    display: none;
  }
  .mobile-header-container {
    display: flex;
    max-width: 428px;
    justify-content: space-between;
    margin: 0;
  }
  .burger-svg{
    margin-top: 22px;
    text-align: left;
  }
  .burger-icon{
    visibility: visible;
    width: 32px;
    height: 22px;
    margin-top: 8%;
  }
  .menu-button{
    opacity: 1;
  }
  .mobile-menu{
    display: block;
    position: fixed;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--white);
    top: 0;
    z-index: 1;
  }
  .mobile-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 80px 35px 40px 40px;
  }
  .mobile-menu-close{
    position: absolute;
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }
  .mobile-container-ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 104px;
  }
  .mobile-link{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: var(--navyblue);
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  
  }
  .mobile-nav-item-link:hover,
  .mobile-nav-item-link:focus {
    color: var(--ocean);
  }
  .mobile-container-two{
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .mobile-address{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .mobile-address-ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-address-tel{
    font-family: Roboto;
    color: var(--iris);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .mobile-address-email{
    font-family: Roboto;
    color: var(--slate);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .mobile-address .socials-svg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
  }
  .socials-svg{
    display: flex;
    justify-content: space-between;
  }
  .burger-list{
    color: var(--navyblue, #2e2f42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
  .burger-a{
    background-color: var(--iris, #4d5ae5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cloud, #f4f4fd);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-svg-close:hover, .burger-svg-close:focus{
    fill: var(--white);
  }
  /* sec1 */
  .first-section{
    margin: 0 auto;
    padding: 112px 54px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-one-header{
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .section-one-button{
    text-align: center;
  }
  /* sec2 */
  .second-section{
    padding: 96px 0;
    max-width: 428px;
  }
  .second-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-two-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    text-align: center;
  }
  .section-two-list{
    flex-basis: calc(100% - 40px);
    margin: 0;
    width: 396px;
    text-align: center;
  }
  .second-icon-div{
    display: none;
  }
  .section-two-header{
    text-align: center;
  }
  .section-two-paragraph{
    text-align: justify;
    width: 100%;
  }
  /* sec3 */
  .third-section {
    display: none;
  }
  /* sec4 */
  .fourth-section{
    padding: 96px 0;
  }
  .fourth-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-four-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
  .fourth-socialmedia-list{
    flex-basis: calc(100% - 50px);
    margin-right: 0;
    padding: 0 5px;
  }
  /* sec5 */
  .fifth-section{
    margin: 0 auto;
    padding: 96px 0;
  }
  .section-five-customers-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
  }
  .section-five-customers-list{
    width: 190px;
    width: calc((100% - 120px) / 2);
  }
/* footer */
  .footer-div{
    display: block;
    align-items: baseline;
    max-width: 428px;
  }
  .footer-part{
    padding-top: 97.5px;
    padding-bottom: 96px; 
  }
  #footer-container{
    margin: 0 auto;
  }
  .footer-wrap{
    margin: 0 auto 62px auto;
    text-align: center;
    width: 268px;
  }
  .footer-wrap .web-logo{
    margin: 0 0 16px 0;
  }
  .footer-paragraph{
    text-align: left;
  }
.footer-two{
  margin: 0;
  text-align: center;
}
.footer-social-media-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.footer-social-media-list{
  text-align: center;
}
.footer-subscribe p{
  margin: 72px auto 10px auto;
  text-align: justify;
  width: 268px;
  font-weight: normal;
}
.footer-form{
  display: block;
  width: 100%;
}
.footer-form .email-input{
  width: 95%;
  display: block;
  margin: 16px 9px;
}
.submit-footer{
  text-align: center;
  margin: 16px 25% auto;
}
}

/* tablet view */
@media only screen and (min-width: 768px){
  .container {
    margin: 0 auto;
    padding: 0 15px;
  }
  .address-header{
    margin: 0;
    padding: 0;
    width: 25%
  }
  .address-menu{
    display: inline-block;
  }
  .address-menu li{
    display: inline-block;
    width: 100%; 
  }
  /* sec1 */
  .first-section{
    margin: 0 auto;
    padding: 112px 54px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-one-header{
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }
  .section-one-button{
    text-align: center;
  }
  /* sec2 */
  .second-section{
    padding: 96px 0;
  }
  .second-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-two-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
  }
  .section-two-list{
    flex-basis: calc(100% - 420px);
    text-align: center;
  }
  .second-icon-div{
    display: none;
  }
  .section-two-header{
    text-align: left;
  }
  .section-two-paragraph{
    text-align: justify;
    width: 100%;
  }
  /* sec3 */
  .third-section {
    display: none;
  }
  /* sec4 */
  .fourth-section{
    padding: 96px 0;
  }
  .fourth-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-four-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .section-four-list{
    margin-bottom: 50px;
  }
  .fourth-socialmedia-list{
    flex-basis: calc(100% - 50px);
    padding: 0 5px;
  }
  /* sec5 */
  .fifth-section{
    margin: 0 auto;
    padding: 96px 0;
  }
  .section-five-customers-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
  }
  .section-five-customers-list{
    width: 190px;
    width: calc((100% - 120px) / 3);
  }
/* footer */
  .footer-div{
    display: block;
    align-items: baseline;
    max-width: 1158px;
  }
  .footer-part{
    padding: 97.5px 108px 96px;
  }
  #footer-container{
    margin: 0 auto;
  }
  .footer-wrap{
    text-align: left;
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin: auto 40px auto auto;
  }
  .footer-wrap .web-logo{
    margin: 0 0 16px 0;
  }
  .footer-paragraph{
    text-align: left;
  }
  .footer-two{
  margin: 0;
  text-align: center;
  }
  .footer-social-media-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  }
  .footer-social-media-list{
  text-align: center;
  }
  .footer-two{
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  .footer-subscribe p{
  margin: 72px 0 10px 0;
  text-align: justify;
  font-weight: normal;
  width: 80px;
  }
  .footer-form{
  display: block;
  width: 100%;
  }
  .footer-form .email-input{
  width: 60%;
  display: inline-block;
  margin: 16px auto;
  }
  .submit-footer{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 16px 0 0 24px;
  }
  .footer-subscribe{
    text-align: left;
  }
}

/* desktop view */
@media only screen and (min-width: 1158px){
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .index-portfolio-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .address-header{
    margin: 0;
    padding: 0;
    width: 25%;
  }
  .address-menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 12px;
  }
  .address-menu li{
    width: 160px;
  }
  /* sec1 */
  .first-section{
    margin: 0 auto;
    padding: 112px 54px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-one-header{
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }
  .section-one-button{
    text-align: center;
  }
  /* sec2 */
  .second-section{
    padding: 96px 130px;
  }
  .second-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-two-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
  }
  .section-two-list{
    flex-basis: calc(100% - 420px);
    text-align: center;
  }
  .second-icon-div{
    display: none;
  }
  .section-two-header{
    text-align: left;
  }
  .section-two-paragraph{
    text-align: justify;
    width: 100%;
  }
  /* sec3 */
  .third-section {
    display: none;
  }
  /* sec4 */
  .fourth-section{
    padding: 96px 0;
  }
  .fourth-section .container{
    padding: 0;
    margin: 0 auto;
  }
  .section-four-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .section-four-list{
    margin-bottom: 50px;
  }
  .fourth-socialmedia-list{
    flex-basis: calc(100% - 50px);
    padding: 0 5px;
  }
  /* sec5 */
  .fifth-section{
    margin: 0 auto;
    padding: 96px 0;
  }
  .section-five-customers-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    justify-content: center;
  }
  .section-five-customers-list{
    width: 190px;
    width: calc((100% - 120px) / 3);
  }
/* footer */
  .footer-div{
    display: block;
    align-items: baseline;
    max-width: 1158px;
  }
  .footer-part{
    padding: 97.5px 108px 96px;
  }
  #footer-container{
    margin: 0 auto;
  }
  .footer-wrap{
    text-align: left;
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin: auto 40px auto auto;
  }
  .footer-wrap .web-logo{
    margin: 0 0 16px 0;
  }
  .footer-paragraph{
    text-align: left;
  }
  .footer-two{
  margin: 0;
  text-align: center;
  }
  .footer-social-media-ul{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  }
  .footer-social-media-list{
  text-align: center;
  }
  .footer-two{
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
  .footer-subscribe p{
  margin: 72px 0 10px 0;
  text-align: justify;
  font-weight: normal;
  display: inline;
  width: 80px;
  }
  .footer-form{
  display: block;
  }
  .footer-form .email-input{
  width: 60%;
  display: inline-block;
  margin: 16px auto;
  }
  .submit-footer{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 16px 0 0 24px;
  }
  .footer-subscribe{
    display: inline-block;
    text-align: left;
    width: 500px;
    margin-left: 80px;
  }
}